<a href="https://colab.research.google.com/github/SIDPATEL-9496/Zomato-Customer-review-sentiment-analysis/blob/main/ZOMATO_RESTAURANT_CLUSTERING_AND_SENTIMENT_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Problem Statement**

Zomato is an Indian restaurant aggregator and food delivery start-up founded by Deepinder Goyal and Pankaj Chaddah in 2008. Zomato provides information, menus and user-reviews of restaurants, and also has food delivery options from partner restaurants in select cities.

India is quite famous for its diverse multi cuisine available in a large number of restaurants and hotel resorts, which is reminiscent of unity in diversity. Restaurant business in India is always evolving. More Indians are warming up to the idea of eating restaurant food whether by dining outside or getting food delivered. The growing number of restaurants in every state of India has been a motivation to inspect the data to get some insights, interesting facts and figures about the Indian food industry in each city. So, this project focuses on analysing the Zomato restaurant data for each city in India.

The Project focuses on Customers and Company, you have  to analyze the sentiments of the reviews given by the customer in the data and made some useful conclusion in the form of Visualizations. Also, cluster the zomato restaurants into different segments. The data is vizualized as it becomes easy to analyse data at instant. The Analysis also solve some of the business cases that can directly help the customers finding the Best restaurant in their locality and for the company to grow up and work on the fields they are currently lagging in.

This could help in clustering the restaurants into segments. Also the data has valuable information around cuisine and costing which can be used in cost vs. benefit analysis

Data could be used for sentiment analysis. Also the metadata of reviewers can be used for identifying the critics in the industry.

# **Attribute Information**

## **Zomato Restaurant names and Metadata**
Use this dataset for clustering part

1. Name : Name of Restaurants

2. Links : URL Links of Restaurants

3. Cost : Per person estimated Cost of dining

4. Collection : Tagging of Restaurants w.r.t. Zomato categories

5. Cuisines : Cuisines served by Restaurants

6. Timings : Restaurant Timings

## **Zomato Restaurant reviews**
Merge this dataset with Names and Matadata and then use for sentiment analysis part

1. Restaurant : Name of the Restaurant

2. Reviewer : Name of the Reviewer

3. Review : Review Text

4. Rating : Rating Provided by Reviewer

5. MetaData : Reviewer Metadata - No. of Reviews and followers

6. Time: Date and Time of Review

7. Pictures : No. of pictures posted with review

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 500)

In [15]:
nf = pd.read_csv('/content/drive/MyDrive/AlmaBetter /ML_Clustering_Capstone_Project/Zomato_Resturant_Clustering_&_Review_Analysis/Sidhartha_Patel/Copy of Zomato Restaurant names and Metadata.csv')
rf = pd.read_csv('/content/drive/MyDrive/AlmaBetter /ML_Clustering_Capstone_Project/Zomato_Resturant_Clustering_&_Review_Analysis/Sidhartha_Patel/Copy of Zomato Restaurant reviews.csv')

In [16]:
nf.shape

(105, 6)

In [17]:
nf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         105 non-null    object
 1   Links        105 non-null    object
 2   Cost         105 non-null    object
 3   Collections  51 non-null     object
 4   Cuisines     105 non-null    object
 5   Timings      104 non-null    object
dtypes: object(6)
memory usage: 5.0+ KB

In [18]:
nf.head()

                             Name                                              Links   Cost                                        Collections                                           Cuisines                                            Timings
0                 Beyond Flavours  https://www.zomato.com/hyderabad/beyond-flavou...    800  Food Hygiene Rated Restaurants in Hyderabad, C...  Chinese, Continental, Kebab, European, South I...      12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)
1                        Paradise  https://www.zomato.com/hyderabad/paradise-gach...    800                                Hyderabad's Hottest                     Biryani, North Indian, Chinese                                     11 AM to 11 PM
2                        Flechazo  https://www.zomato.com/hyderabad/flechazo-gach...  1,300                 Great Buffets, Hyderabad's Hottest       Asian, Mediterranean, North Indian, Desserts              11:30 AM to 4:30 PM, 6:30 PM to 11 PM
3  Shah Ghouse Hotel & Restaurant  https://www.zomato.com/hyderabad/shah-ghouse-h...    800                             Late Night Restaurants  Biryani, North Indian, Chinese, Seafood, Bever...                                    12 Noon to 2 AM
4      Over The Moon Brew Company  https://www.zomato.com/hyderabad/over-the-moon...  1,200  Best Bars & Pubs, Food Hygiene Rated Restauran...  Asian, Continental, North Indian, Chinese, Med...  12noon to 11pm (Mon, Tue, Wed, Thu, Sun), 12no...

In [19]:
nf.tail()

                                       Name                                              Links   Cost           Collections                         Cuisines                                            Timings
100                               IndiBlaze  https://www.zomato.com/hyderabad/indiblaze-gac...    600                   NaN                 Fast Food, Salad                                     11 AM to 11 PM
101                            Sweet Basket  https://www.zomato.com/hyderabad/sweet-basket-...    200                   NaN                   Bakery, Mithai  10 AM to 10 PM (Mon-Thu), 8 AM to 10:30 PM (Fr...
102                        Angaara Counts 3  https://www.zomato.com/hyderabad/angaara-count...    500                   NaN   North Indian, Biryani, Chinese                                   12 Noon to 11 PM
103                             Wich Please  https://www.zomato.com/hyderabad/wich-please-1...    250                   NaN                        Fast Food                           8am to 12:30AM (Mon-Sun)
104  Republic Of Noodles - Lemon Tree Hotel  https://www.zomato.com/hyderabad/republic-of-n...  1,700  Pan-Asian Delicacies  Thai, Asian, Chinese, Malaysian              11:30 AM to 3 PM, 7 PM to 12 Midnight

In [20]:
null_count = nf.isnull().sum()
null_count

Name            0
Links           0
Cost            0
Collections    54
Cuisines        0
Timings         1
dtype: int64

In [21]:
nf.nunique()

Name           105
Links          105
Cost            29
Collections     42
Cuisines        92
Timings         77
dtype: int64

# Basic analysis on review data

In [9]:
# Shape of the data
rf.shape

(10000, 7)

In [10]:
rf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Restaurant  10000 non-null  object
 1   Reviewer    9962 non-null   object
 2   Review      9955 non-null   object
 3   Rating      9962 non-null   object
 4   Metadata    9962 non-null   object
 5   Time        9962 non-null   object
 6   Pictures    10000 non-null  int64
dtypes: int64(1), object(6)
memory usage: 547.0+ KB

In [36]:
rf.shape

(10000, 7)

In [11]:
rf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Restaurant  10000 non-null  object
 1   Reviewer    9962 non-null   object
 2   Review      9955 non-null   object
 3   Rating      9962 non-null   object
 4   Metadata    9962 non-null   object
 5   Time        9962 non-null   object
 6   Pictures    10000 non-null  int64
dtypes: int64(1), object(6)
memory usage: 547.0+ KB

In [12]:
rf.head()

        Restaurant              Reviewer                                             Review Rating                 Metadata             Time  Pictures
0  Beyond Flavours     Rusha Chakraborty  The ambience was good, food was quite good . h...      5   1 Review , 2 Followers  5/25/2019 15:54         0
1  Beyond Flavours  Anusha Tirumalaneedi  Ambience is too good for a pleasant evening. S...      5  3 Reviews , 2 Followers  5/25/2019 14:20         0
2  Beyond Flavours       Ashok Shekhawat  A must try.. great food great ambience. Thnx f...      5  2 Reviews , 3 Followers  5/24/2019 22:54         0
3  Beyond Flavours        Swapnil Sarkar  Soumen das and Arun was a great guy. Only beca...      5    1 Review , 1 Follower  5/24/2019 22:11         0
4  Beyond Flavours                Dileep  Food is good.we ordered Kodi drumsticks and ba...      5  3 Reviews , 2 Followers  5/24/2019 21:37         0

In [40]:
rf.tail()

            Restaurant          Reviewer                                             Review Rating                      Metadata             Time  Pictures
9995  Chinese Pavilion  Abhishek Mahajan  Madhumathi Mahajan Well to start with nice cou...      3     53 Reviews , 54 Followers    6/5/2016 0:08         0
9996  Chinese Pavilion    Sharad Agrawal  This place has never disappointed us.. The foo...    4.5      2 Reviews , 53 Followers   6/4/2016 22:01         0
9997  Chinese Pavilion         Ramandeep  Bad rating is mainly because of "Chicken Bone ...    1.5    65 Reviews , 423 Followers   6/3/2016 10:37         3
9998  Chinese Pavilion   Nayana Shanbhag  I personally love and prefer Chinese Food. Had...      4    13 Reviews , 144 Followers  5/31/2016 17:22         0
9999  Chinese Pavilion  Bhargava Krishna  Checked in here to try some delicious chinese ...    3.5  472 Reviews , 1302 Followers  5/31/2016 16:41         6

In [42]:
null = rf.isnull().sum()
null

Restaurant     0
Reviewer      38
Review        45
Rating        38
Metadata      38
Time          38
Pictures       0
dtype: int64

In [13]:
rf.nunique()

Restaurant     100
Reviewer      7446
Review        9364
Rating          10
Metadata      2477
Time          9782
Pictures        36
dtype: int64

In [14]:
rf['Rating'].unique()

array(['5', '4', '1', '3', '2', '3.5', '4.5', '2.5', '1.5', 'Like', nan],
      dtype=object)

# Merging the datasets

In [46]:
#Changing the column name for convenience while merging
nf = nf.rename(columns={'Name':'Restaurant'})

# Merging the two dataframes
df = pd.merge(nf, rf, how = 'left', on = 'Restaurant')

In [47]:
df.head()

        Restaurant                                              Links Cost                                        Collections                                           Cuisines                                        Timings              Reviewer                                             Review Rating                 Metadata             Time  Pictures
0  Beyond Flavours  https://www.zomato.com/hyderabad/beyond-flavou...  800  Food Hygiene Rated Restaurants in Hyderabad, C...  Chinese, Continental, Kebab, European, South I...  12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)     Rusha Chakraborty  The ambience was good, food was quite good . h...      5   1 Review , 2 Followers  5/25/2019 15:54       0.0
1  Beyond Flavours  https://www.zomato.com/hyderabad/beyond-flavou...  800  Food Hygiene Rated Restaurants in Hyderabad, C...  Chinese, Continental, Kebab, European, South I...  12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)  Anusha Tirumalaneedi  Ambience is too good for a pleasant evening. S...      5  3 Reviews , 2 Followers  5/25/2019 14:20       0.0
2  Beyond Flavours  https://www.zomato.com/hyderabad/beyond-flavou...  800  Food Hygiene Rated Restaurants in Hyderabad, C...  Chinese, Continental, Kebab, European, South I...  12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)       Ashok Shekhawat  A must try.. great food great ambience. Thnx f...      5  2 Reviews , 3 Followers  5/24/2019 22:54       0.0
3  Beyond Flavours  https://www.zomato.com/hyderabad/beyond-flavou...  800  Food Hygiene Rated Restaurants in Hyderabad, C...  Chinese, Continental, Kebab, European, South I...  12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)        Swapnil Sarkar  Soumen das and Arun was a great guy. Only beca...      5    1 Review , 1 Follower  5/24/2019 22:11       0.0
4  Beyond Flavours  https://www.zomato.com/hyderabad/beyond-flavou...  800  Food Hygiene Rated Restaurants in Hyderabad, C...  Chinese, Continental, Kebab, European, South I...  12noon to 3:30pm, 6:30pm to 11:30pm (Mon-Sun)                Dileep  Food is good.we ordered Kodi drumsticks and ba...      5  3 Reviews , 2 Followers  5/24/2019 21:37       0.0

# Data Cleaning

In [48]:
# Dropping the unwanted columns
df.drop(['Time', 'Links', 'Collections'], axis=1, inplace=True)

In [49]:
print(df.isnull().sum())

Restaurant      0
Cost            0
Cuisines        0
Timings       100
Reviewer       43
Review         50
Rating         43
Metadata       43
Pictures        5
dtype: int64

In [50]:
#Dropping the row in which we got invalid entry for Rating
df = df[df['Rating']!='Like']

In [51]:
# rows with Review,Rating,Metadata as null values
df[(df['Review'].isnull())&(df['Rating'].isnull())&(df['Metadata'].isnull())].shape[0]

43

In [52]:
#removing all the rows with null values
df = df[(df['Review'].notna())&(df['Timings'].notna())]

In [53]:
print(df.isnull().sum())

Restaurant    0
Cost          0
Cuisines      0
Timings       0
Reviewer      0
Review        0
Rating        0
Metadata      0
Pictures      0
dtype: int64